.activities-list {
    display: flex;

    &__filters {
        display: inline-block;
        width: 318px;

        flex-shrink: 0;
        margin-right: 90px;
    }

    &__list {
        display: inline-block;
        width: 100%;
    }

    &__title {
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;

        margin-bottom: 32px;
    }

    &__items {
        margin: 0 -12px 32px;
    }

    &__item {
        display: inline-block;
        padding: 0 12px 24px;

        box-sizing: border-box;

        width: 50%;
    }
}
