.header {
    display: flex;

    gap: 16px;

    &__home {
        width: 62px;
        height: 62px;

        border: 2px solid #eaebec;

        border-radius: 50%;

        box-sizing: border-box;

        text-decoration: none;
        color: #252c33;

        display: flex;
        justify-content: center;

        & svg {
            width: 20px;
            height: 20px;
        }

        transition: all 100ms linear;

        flex-shrink: 0;

        &:hover {
            border-color: #2e343f;
        }
    }
}
